.Card {
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.Img {
  flex: 1;
  padding: 20px;
}
.Img img {
  width: 100%;
  height: 250px;
  display: block;
}
.Info {
  flex: 4;
  padding: 20px;
}
.Info h3 {
  margin: 13px 0;
}

@media (max-width: 768px) {
  .Img {
    flex: 2;
  }
}
@media (max-width: 550px) {
  .Card {
    display: block;
    padding: 30px;
  }
}
