.Overview {
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
}
.Rating {
  padding: 10px;
  padding-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: 80px;
}
.Rating span {
  background-color: black;
  color: white;
  border: 7px solid #01b369;
  box-shadow: 0 0 0 3px black;
  border-radius: 50%;
  padding: 9px;
  font-weight: bold;
  font-size: 20px;
}
.Rating:hover span {
  color: white;
}
.Layer {
  background-color: rgb(110, 9, 68);
  opacity: 0.9;
  height: 100%;
}
.Container {
  display: flex;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
.Container img {
  display: block;
  width: 100%;
  height: 100%;
}
.Img img {
  display: block;
  width: 100%;
}
.Img {
  padding: 40px 20px;
  height: 100%;
  flex: 1;
}
.Info {
  flex: 2;
  padding: 60px 20px;
  color: white;
  width: 100%;
}
.Info h1 {
  font-size: 40px;
}
.Info h1 span {
  font-size: 25px;
  color: grey;
}
.Info h3 {
  font-size: 23px;
}
.Info p {
  margin: 20px 0;
  font-size: 16px;
}
.Info span {
  font-size: 20px;
}
.Icons {
  margin: 20px 0;
}
.Icons span i {
  font-size: 20px;
  margin: 0 10px;
}
.Icons span {
  font-size: 25px;
  cursor: pointer;
}
.Icons span:hover {
  color: grey;
}
.Youtube {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.Youtube iframe {
  width: 70%;
  height: 70%;
}
.Genre {
  background-color: white;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  padding: 6px;
  font-size: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-right: 20px;
}
.Genre:first-of-type {
  margin-left: 30px;
}

hr {
  width: 1000px;
  margin: 50px auto 0;
  height: 0.5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.ReviewsContainer {
  width: 1000px;
  margin: 0 auto;
  padding: 10px 150px;
  height: 350px;
  overflow: hidden;
  transition: 1s;
}

h4 {
  width: 1000px;
  margin: 10px auto;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .Container {
    width: 100%;
  }
  .Img {
    display: none;
  }
  .Info {
    text-align: center;
    padding: 60px 12%;
  }
  .Layer {
    width: 100%;
  }
  hr {
    width: 100%;
  }
  .ReviewsContainer {
    width: 100%;
    padding: 2% 10%;
  }
  h4 {
    width: 100%;
    padding: 2% 10%;
  }
}

@media (max-width: 800px) {
  .Youtube iframe {
    width: 90%;
    height: 60%;
  }
}
